<div class="container-fluid altoMinimo">
  <div class="row mx-1">
    <div class="col-lg-2 col-md-4 p-2" id="lateralblue">
      <% if current_user.profile.photo_url %>
      <p><%= image_tag @profile.photo_url, class: "avatar", size: "185x185" %></p>
      <% end %>
      <h5 class="textBlanco"><%= current_user.name %> <%= current_user.lastname%></h5>

      <%= link_to "Regresar a tus pautas", users_timeline_path, class: "btn btn-info btn-block btn-sm" %>

    </div>

    <div class="col-lg-6 pt-2">
      <table class="table table-sm table-bordered ">
        <tbody>
          <tr class="thead-light">
            <th class="celda bg-info">( <i class="fas fa-envelope"></i> )  Email</th>
              <td ><strong> <%= current_user.email %> </strong></td>
          </tr>

          <tr class="thead-light">
            <th class="celda bg-info">( <i class="fas fa-phone-alt"></i> )  Teléfono</th>
              <td> <strong>+56 </strong><%= @profile.phone %></td>
          </tr>

          <% if current_user.influencer?%>
          <tr class="thead-light">
            <th class="celda bg-info">( <i class="fas fa-project-diagram"></i> ) Red Social</th>
              <td><strong> <%= @profile.social_network %></strong></td>
            </tr>
          <tr class="thead-light">
            <th class="celda bg-info">( <i class="fas fa-map-marker-alt"></i> ) Dirección Red Social</th>
              <td> <a href="<%=@profile.social_network_url %>" target="_blank"><i class="fab fa-3x fa-youtube colorRedSocial"></i></a></td>
          </tr>
          <%end%>

          <%if current_user.tradicional? %>
          <tr class="thead-light">
            <th class="celda bg-info"> Medio donde trabaja</th>
              <td> <%= @profile.media_name %></td>
          </tr>
          <%end %>


        </tbody>
      </table>

      <div class="row text-justify">
        <div class="col-sm-12">
        <p><%= sanitize @profile.description %></p>
        </div>

      </div>
    </div>
    <div class="col-lg-4 imgCV">

    </div>
  </div>
</div>
