
<%= form_with(model: contactme, local: true) do |form| %>
  <% if contactme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contactme.errors.count, "error") %> prohibited this contactme from being saved:</h2>

      <ul>
      <% contactme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name, "Nombre", :for => "validationCustom01" %>
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fas fa-file-signature"></i></span>
      </div>
    <%= form.text_field :name, class: "form-control form-control-sm", :id => "validationCustom01", :required => true%>
    <div class="invalid-feedback">
     Campo Obligatorio
      </div>
   </div>
  </div>

  <div class="field form-group">
    <%= form.label :email, :for => "validationCustom02"  %>
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="far fa-lg fa-envelope"></i></span>
      </div>
    <%= form.email_field :email, class: "form-control form-control-sm", :id => "validationCustom02", :required => true  %>
   </div>
   <div class="invalid-feedback">
    Campo Obligatorio
  </div>
  </div>

  <div class="field form-group">
    <%= form.label :description, "Mensaje", :for => "validationCustom03"  %>
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text" id=""></span>
      </div>
    <%= form.text_area :description, placeholder: "Escribe acá tu mensaje", class: "form-control form-control-sm", :id => "validationCustom03", :required => true  %>
    <div class="invalid-feedback">
     Campo Obligatorio
   </div>
   </div>
  </div>

  <div class="actions">
    <%= form.submit "enviar", class: "btn btn-success"  %>
  </div>



<% end %>
