<p id="notice"><%= notice %></p>

<h1>Contactmes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactmes.each do |contactme| %>
      <tr>
        <td><%= contactme.name %></td>
        <td><%= contactme.email %></td>
        <td><%= contactme.description %></td>
        <td><%= link_to 'Show', contactme %></td>
        <td><%= link_to 'Edit', edit_contactme_path(contactme) %></td>
        <td><%= link_to 'Destroy', contactme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactme', new_contactme_path %>
