<h2 class="d-flex justify-content-center">Crear una pauta</h2>



<div class="container-fluid form_layout">
  <%= form_with(model: [:organizators, @press_conference], local: true) do |form| %>
    <% if @press_conference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@press_conference.errors.count, "error") %> prohibited this organizator from being saved:</h2>

        <ul>
        <% @press_conference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :title, "Título" %>
      <%= form.text_field :title, placeholder: "Máximo 70 caracteres", class: "form-control form-control-sm" %>
    </div>

    <div class="field form-group">
      <%= form.label :description, "Detalle de la pauta" %>
      <%= form.text_area :description, class: "form-control form-control-sm" %>
    </div>

    <div class="field form-group">
      <%= form.label :date, "Fecha" %>
      <%= form.date_select :date, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :time, "Hora" %>
      <%= form.time_select :time, class: "form-control form-control-sm" %>
    </div>

    <div class="field form-group">
      <%= form.label :address, "Dirección" %>
      <%= form.text_field :address, placeholder: "Calle, Numeración, Comuna", class: "form-control form-control-sm" %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, PressConference.statuses.keys, {}, class: "custom-select custom-select-sm "%>
    </div>
    <br>

    <div class="actions">
      <%= form.submit "Crear Pauta", class: "btn btn-dark btn-sm" %>  <%= link_to "Volver a mis pautas", organizators_press_conferences_path, class: "btn btn-primary btn-sm mr-auto" %>
    </div>
  <% end %>
</div>
