<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-2 pt-4 mb-4" id="lateral">
        <%= link_to "Volver a mis pautas", organizators_press_conferences_path, class: "btn btn-info btn-sm btn-block mr-auto" %>
    </div>
    <div class="col-sm-12 col-md-6 maxalto6">
        <%= form_with(model: [:organizators, @press_conference], html: {novalidate: true, class: 'needs-validation'}, local: true) do |form| %>
          <% if @press_conference.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@press_conference.errors.count, "error") %> prohibited this organizator from being saved:</h2>

              <ul>
              <% @press_conference.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field form-group">
            <%= form.label :title, "Título", :for => "validationCustom01" %>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id=""><i class="fas fa-file-signature"></i></span>
              </div>
            <%= form.text_field :title, placeholder: "Máximo 70 caracteres", class: "form-control form-control-sm", :id => "validationCustom01", :required => true %>
              <div class="invalid-feedback">
               Campo Obligatorio
                </div>
             </div>
          </div>

          <div class="field form-group">
            <%= form.label :description, "Detalle de la pauta", :for => "validationCustom02" %>
            <%= form.text_area :description, class: "form-control form-control-sm", :id => "validationCustom02", :required => true %>
              <div class="invalid-feedback">
               Campo Obligatorio
             </div>
          </div>

          <div class="field form-group">
            <%= form.label :date, "Fecha" %>
            <%= form.date_select :date, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= form.label :time, "Hora" %>
            <%= form.time_select :time, class: "form-control form-control-sm" %>
          </div>

          <div class="field form-group">
            <%= form.label :address, "Dirección", :for => "validationCustom03" %>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id=""><i class="fas fa-map-marker-alt"></i></span>
              </div>
            <%= form.text_field :address, placeholder: "Calle, Numeración, Comuna", class: "form-control form-control-sm", :id => "validationCustom03", :required => true %>
              <div class="invalid-feedback">
               Campo Obligatorio
             </div>
            </div>

          </div>

          <div class="field">
            <%= form.label :status, "Estado de la Pauta" %>
            <%= form.select :status, PressConference.statuses.keys, {}, class: "custom-select custom-select-sm "%>
          </div>
          <br>

          <div class="actions">
            <%= form.submit "Crear Pauta", class: "btn btn-success btn-sm" %>
          </div>
        <% end %>


    </div>
        <div class="col-sm-12 col-md-4 maxalto5">


        </div>
    </div>


</div>
