
<div class="row">
  <div class="col-sm-4">
    <% if current_user.profile.photo_url %>
    <p><%= image_tag current_user.profile.photo_url, class: "avatar", size: "185x185" %></p>
    <% end %>
    <h4><%= @user.name %> <%= @user.lastname %></h4>
    <p><i><%= @user.email %></i></p>

    <%= link_to "Ver Perfil", users_profile_path, class: "btn btn-dark mt-1 btn-sm" %>
    <%= link_to "Editar Perfil" , edit_users_profile_path, class: "btn btn-secondary mt-1 btn-sm"  %>

  </div>

  <div class="col-sm-8">
      <h3>Pautas del Usuario</h3>


  </div>

</div>
