
<div class="container">

  <div class="row">
    <div class="col-2">
      <h3>Perfil del Organizador</h3>
      <p><%= link_to "Crear una pauta", new_organizators_press_conference_path, class: "btn btn-sm btn-secondary" %></p>
      <p><%= link_to "Ver mis pautas", organizators_press_conferences_path, class: "btn btn-sm btn-dark" %></p>



    </div>

    <div class="col-10">

      <ul>
        <li><%= current_organizator.name%> </li>
        <li><%= current_organizator.phone %></li>
        <li><%= current_organizator.description %></li>
        <li><%= current_organizator.address %></li>
      </ul>

    </div>

  </div>

</div>
