
<div class="container-fluid altoMinimo">

  <div class="row mx-1">
    <div class="col-lg-2 col-md-4 p-2">
      <h5><mark>Perfil de <%= current_organizator.name %></mark></h5><br>
      <%= link_to "Crear una pauta", new_organizators_press_conference_path, class: "btn btn-sm btn-secondary btn-block" %>
      <%= link_to "Regresar a tus pautas", organizators_press_conferences_path, class: "btn btn-sm btn-info btn-block" %>


    </div>

    <div class="col-lg-10 col-md-8">

      <ul>
        <li><%= current_organizator.name%> </li>
        <li><%= current_organizator.phone %></li>
        <li><%= current_organizator.description %></li>
        <li><%= current_organizator.address %></li>
      </ul>

    </div>

  </div>

</div>
