<div class="container">
  <h4>Todas las pautas públicas</h4>
<table class="table table-responsive table-striped">
<thead class="bg-secondary">
<tr>
  <th>Título</th>
  <th>Fecha</th>
  <th>Hora</th>
  <th>Dónde</th>
  <th>Organizador</th>


  <th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @press_conferences.each do |press_conference| %>
  <tr>
    <td><%= press_conference.title %></td>
    <td><%= press_conference.date.strftime("%d %B %Y") %></td>
    <td><%= press_conference.time.strftime("%H:%M") %></td>
    <td><%= press_conference.address %></td>
    <td><%= press_conference.organizator.name %></td>

    <% if press_conference.has_solicitud(current_user)%>
          <td>Ya postulaste</td>
      <% else %>
    <td><%= link_to "Postular", solicitar_users_press_conference_path(press_conference), class: "btn btn-success btn-width"  %></td>
    <%end  %>


  </tr>
<% end %>
</tbody>
</table>
<p><%= link_to "Regresar a tus pautas", users_timeline_path, class: "btn btn-danger" %></p>
</div>
