<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-4 p-2">
      <%= link_to "Volver a mis pautas", users_timeline_path, class: "btn btn-dark mt-1 btn-sm btn-block" %><br>
      <% if @press_conference.organizator.is_followed_by_user?(current_user) %>
            <%= link_to "Dejar de serguir a #{@press_conference.organizator.name}", unfollow_users_press_conference_path(@press_conference), class: "btn btn-danger btn-sm btn-block" %>
          <% else %>
            <%= link_to "Seguir #{@press_conference.organizator.name}", follow_users_press_conference_path(@press_conference), class: "btn btn-info btn-sm btn-block" %>
      <% end %>


    </div>
      <div class="col-lg-10 col-md-8">
        <h3><%= @press_conference.title %></h3>
        <p><strong>Fecha y Hora : </strong><%= @press_conference.date.strftime("%d %B %Y") %>  <strong> - </strong>  <%= @press_conference.time.strftime("%H:%M") %> </p>
        <p><strong>Organiza : </strong><%= @press_conference.organizator.name %></p>


        <p><strong>Resumen de la Pauta:  </strong></p>
        <p><%= @press_conference.description %></p>


        <br>

        <p><strong>Dirección: </strong><%= @press_conference.address %></p>
        <div style='width: 800px;'>
          <div id="map" style='width: 600px; height: 300px;'></div>
        </div>


        <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
              {
                "lat": coords.latitude,
                "lng": coords.longitude,
                "zoom": 8,
                "picture": {
                  "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
                  "width":  32,
                  "height": 32
                },
                "infowindow": "hello!"
              }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });

        </script>



      </div>
  </div>
</div>
