<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <% if user_signed_in? || organizator_signed_in? %>
      <p class="navbar-brand">YoLoCubro.com |</p>
  <%else %>
      <a class="navbar-brand" href="<%= root_path %>"><i class="fas fa-lg fa-home"></i> |  YoLoCubro </a>
  <%end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
      <li class="nav-item">
      </li>
        <li class="nav-item">
          <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% elsif  organizator_signed_in? %>
          <li class="nav-item">
            <%= link_to "Salir", destroy_organizator_session_path, method: :delete, class: "nav-link" %>
          </li>
      <% else %>
            <li class="nav-item">
              <%= link_to "Contáctanos", home_contact_path, class: "nav-link"%>
           </li>

           <li class="nav-item">
            <%= link_to "Quienes Somos", home_about_path, class: "nav-link" %>
          </li>
      <% end  %>

    </ul>
  </div>
</nav>
